@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-primario-300);
}

body{
    background-color: var(--color-primario-100);
}

:root {
    --color-primario-600: #2B2B2B;
    --color-primario-500: #360C72;   
    --color-primario-450: #652BDF; 
    --color-primario-400: #9B5FE1;   
    --color-primario-300: #6A6A6A;
    --color-primario-250: #A482EC;
    --color-primario-200: #F0EAFC;
    --color-primario-100: #FCFBFF;
    --color-primario-50: #FFFFE8;
    --color-primario-0:#FFFFFF;
}

/*--HEADER--*/

.header__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1022px;
    margin: 0 auto;
    height: 74px;
    padding: 16px;    
}

header{
    width: 100%;
    background-color: var(--color-primario-0);    
    position: sticky;
    top: 0;
    z-index: 1001;
    border-bottom: 1px solid #e7eaed;    
}

.header__logo-img{
    width: 140px;
}

.header__logo-isotipo{
    display: none;
}

.header__menu ul{
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 24px;
}

.header__menu li{
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 6px 24px;
    margin: 0 4px;
    color: var(--color-primario-600);
}

.header__separador{
    color: var(--color-primario-300);

}

.header__acciones{    
    display: flex;  
    align-items: center; 
    gap: 10px;  
}

.pildora{
    min-height: 41px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    border-radius: 50px;
    padding: 6px 24px;
    margin: 0px 4px;
    font-size: 14px;
    font-weight: bold;
}

.pildora-espacio{
    background-color: var(--color-primario-0);
    color: var(--color-primario-450);
    border: 1.5px solid var(--color-primario-250);
}

.pildora-entrar, .pildora-conocer{
    background-color: var(--color-primario-450);
    color: var(--color-primario-0);
}

.pildora-conocer{
    margin-top: 100px;
}

/*--MAIN--*/

h2{
    text-align: center;
    font-size: 40px;
}

/*--TARJETA BIENVENIDA--*/

.bienvenida {
    padding: 80px 16px;
    background-color: var(--color-primario-100);
}

.bienvenida__contenedor {
    max-width: 1022px;
    margin: 0 auto;
}

.bienvenida__titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 48px;
    color: var(--color-primario-600);
}

.bienvenida__tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 64px;
}

.tarjeta {
    background-color: var(--color-primario-0);
    padding: 32px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tarjeta i {
    background-color: var(--color-primario-200);
    width: 62px;
    height: 62px;
    padding: 19px;
    font-size: 32px;
    color: var(--color-primario-450);
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tarjeta h3 {
    font-size: 18px;
}

.tarjeta p {
     color: var(--color-primario-300);
     margin-top: 10px;
     font-size: 14px;

}

.bienvenida__cta{
    background-color: var(--color-primario-500);
    color: var(--color-primario-0);
    border-radius: 12px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 40px;
}
.bienvenida__cta-texto{
    margin-right: 350px;
}

.bienvenida__cta-texto h3{
    font-size: 30px;
    margin-bottom: 5px;
}

.pildora-conocer-historia{
    padding: 12px 24px;
    background-color: var(--color-primario-0);
    color: var(--color-primario-450);
    border-radius: 50px;
    font-weight: bold;
}

/*--TARJETA COBROS--*/

.cobros__contenedor {
    max-width: 1022px; 
    margin: 0 auto;
    padding: 0 16px; 
}

.cobros__descripcion {
    font-size: 16px;
    color: var(--color-primario-300);
    text-align: center;
    margin-top: 12px;
}

.metodo {
    background-color: var(--color-primario-0);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 50px;
}

.metodo__contenido p{
    margin-top: 30px;
    font-size: 18px;

}

.metodo__contenido h3{
    font-size: 30px;
}

.metodo img{
    width: 450px;
}
/*--FOOTER--*/

footer {
    width: 100%;
    padding: 64px 0;  
}

.footer__contenedor{
    max-width: 1022px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    width: 100%;
}
.footer__nav-column h3{
    color: var(--color-primario-600);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;

}

.footer__nav-column ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-primario-300);
}

.footer__isotipo-logo{
    width: 48px;

   
}