@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-primario-300);
}

body{
    background-color: var(--color-primario-100);
}

:root {
    --color-primario-600: #2B2B2B;
    --color-primario-500: #360C72;   
    --color-primario-450: #652BDF; 
    --color-primario-400: #9B5FE1;   
    --color-primario-300: #6A6A6A;
    --color-primario-250: #A482EC;
    --color-primario-200: #F0EAFC;
    --color-primario-100: #FCFBFF;
    --color-primario-50: #FFFFE8;
    --color-primario-0:#FFFFFF;
}

.header__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1022px;
    margin: 0 auto;
    width: 930px;
    height: 74px;
    padding: 16px;    
}

header{
    background-color: var(--color-primario-0);
    
    position: sticky;
    top: 0;
    z-index: 1001;
    border-bottom: 1px solid #e7eaed;    
}

.header_logo-img{
    width: 172px;
    height: 33px;
}

.header__menu ul{
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 24px;
}

.header__menu li{
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 6px 24px;
    margin: 0 4px;
}

.header__separador{
    color: var(--color-primario-300);

}

.header__acciones li{
    width: 152.88px;
    height: 37.3px;
    display: flex;   
    gap: 10px;
    padding-right: 20px; 

}

footer {
    background-color: var(--color-primario-0);
    width: 100%;
    padding: 24px;
}

.footer__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}